// @import "node_modules/bootstrap/scss/functions"; 
// @import "node_modules/bootstrap/scss/variables"; 
// @import "node_modules/bootstrap/scss/mixins"; 

// $form-switch-color: rgba(#F1F1F2, .25);

// @import "node_modules/bootstrap/scss/bootstrap";
$new-york: 'New York', sans-serif;
$sf-pro: 'SF Pro', sans-serif;
$sf-mono: 'SF Mono', sans-serif;
$new-york-E-large: 'New York Extra Large', sans-serif;
$new-york-large: 'New York Large', sans-serif;
$purple: #6366F1;
