@use '../../variables' as v;

//Styles for all the minters page
.mint-body-pages{
    display: flex;
    flex-direction: column;
    width: 62.1%;
    align-items: center;
    .mint-title-pages{
        color: white;
        text-align: center;
        width: 100%;
        font-family: v.$new-york-E-large;
        font-weight: 600;
        margin-bottom: 100px;
        h1{
            font-size: 4rem;
            margin-bottom: 64px;
        }
        p{
            font-size: 2rem;
            line-height: 51px;
        }
        //The label element for the email address minters step page
        label{
            position: relative;
            width: 100%;
            input{
                width: 100%;
                padding: 20px 20px;
                padding-left: 50px;
                border-radius: 48px;
                border: none;
            }
            img{
                position: absolute;
                width: 20px;
                left: 20px;
                top: 23px;
            }
        }
    }
    .advance{
        padding: 15px 30px;
        border: none;
        background-color: v.$purple;
        color: white;
        font-size: 1.125rem;
        font-weight: 500;
        display: flex;
        gap: 8px;
        align-items: center;
        border-radius: 48px;
    }
}
.mint-email-body, .mint-name-body{
    width: 48.4%;
    .mint-name-title, .mint-email-title{
        h1{
            font-size: 3rem;
        }
    }
}
.mint-end-body{
    .mint-end-title{
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h1{
            font-size: 3rem;
            margin-bottom: 24px;
        }
        p{
            font-size: 1.5rem;
            line-height: 38px;
        }
    }
    .mint-certificate-container{
        width: 400px;
    }
}

//MintEnd button styles
.mint-share-buttons{
    margin-top: 98px;
    display: flex;
    align-items: center;
    gap: 24px;
    .share-btn{
        color: v.$purple;
        background-color: #EEF2FF;
    }
}

@media(max-width:576px){
    .mint-body-pages{
        width: 100%;
        .mint-title-pages{
            h1{
                font-size: 1.5rem;
                margin-bottom: 32px;
            }
            p{
                font-size: 0.875rem;
                line-height: 160%;
            }
        }
    }
    .mint-end-body{
        padding: 0;
        .mint-certificate-container{
            width: 100%;
        }
    }
}