<html>

<head>
  <style>

  </style>
</head>

<body>
  <h2>Hi {{username}},</h2>
  <p>You have successfully logged into your account on the xertis platform.</p>
  <br>
  <p>If you didn't perform this action, please log into your <a href="dashboard-link">account</a> and change your password.</p>

  <h3><strong>Best regards, Xertis</strong></h3>
</body>

</html>