@use '../../../../variables' as v;

.change-password{
    width: 73.7%;
    margin-top: 64px;
    display: flex;
    gap: 48px;
    .change-password-title{
        align-self: start;
        font-size: 1.125rem;
        font-weight: 500;
        white-space: nowrap;
        img{
            margin-right: 8px;
        }
    }
    .password-form{
        width: 100%;
        form{
            display: flex;
            flex-direction: column;
            gap: 32px;
            .input-group{
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 16px;
                label{
                    color: #666D80;
                    font-weight: 500;
                }
                input{
                    width: 100%;
                    padding: 16px 14px;
                    padding-left: 40px;
                    border: 1px solid #DFE1E6;
                    border-radius: 12px !important;
                    font-size: 0.875rem;
                    color: #666D80;
                }
                .lock-icon{
                    position: absolute;
                    top: 56px;
                    left: 10px;
                }
                .eye-icon{
                    position: absolute;
                    top: 60px;
                    right: 10px;
                    cursor: pointer;
                    transition: filter 0.3s ease-in-out;

                    &.active{
                        filter: brightness(0) saturate(100%) invert(20%) sepia(88%) saturate(4563%) hue-rotate(339deg) brightness(90%) contrast(93%);
                    }
                }
            }
        }
    }
}

@media (max-width: 576px){
    .change-password{
        flex-direction: column;
        width: 100%;
        margin-top: 24px;
        gap: 20px;
    }
}