@use '../../../../variables' as v;

.password-title{
    width: 73.7%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    .password-header{
        h1{
            font-size: 1.25rem;
            font-weight: 600;
            color: #101828;
            margin-bottom: 4px;
        }
        p{
            margin: 0;
            color: #666D80;
            font-size: 0.875rem;
        }
    }
    .update-btn{
        display: flex;
        align-items: center;
        gap: 24px;
        p{
            margin: 0;
            color: #DF1C41;
            font-size: 0.875rem;
            font-weight: 500;
            cursor: pointer;
        }
        button{
            white-space: nowrap;
            border: none;
            background-color: v.$purple;
            color: white;
            padding: 8px 16px;
            border-radius: 16px;
            font-size: 0.875rem;
            font-weight: 500;
            height: 44px;
        }
    }
}

@media(max-width: 576px){
    .password-title{
        width: 100%;
        padding-bottom: 24px;
        flex-direction: column;
        gap: 20px;
        border-bottom: 0.5px solid #DFE1E6;
        .update-btn{
            button{
                font-size: 0.75rem;
                height: 34px;
            }
        }
    }
}