@use '../variables' as v;

.mint-body{
    background-image: url('../../assets/Hero\ bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .xertis-logo{
        position: absolute;
        top: 12px;
        left: 14px;
        a{
            text-decoration: none;
            font-family: v.$sf-pro;
            color: white;
            display: flex;
            align-items: center;
            font-weight: 500;
            gap: 8px;
            img{
                width: 20px;
            }
        }
    }
}
@media(max-width:576px){
    .mint-body{
        align-items: center;
        justify-content: normal;
        padding: 0px 16px;
    }
}